/**
    关于君工页面样式
 */
main {

}

main section {

}

main figure.banner {
    width: 100%;
    height: 100vw;
    max-height: 500px;
    background: url("../images/about/banner.png") no-repeat center;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main figure.banner .page-body {
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

main figure.banner .page-body .content {
    max-width: 800px;
    /*margin: 0 auto;*/
    color: #f6d96d;
}

main figure.banner .page-body .content hr {

}

main figure.banner .page-body .content p {
    font-size: 22px;
}

main section.page {
    background: no-repeat center;
    background-size: auto 100%;
    width: 100%;
    height: 100vw;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

main section.page hr {
    margin: 10px auto 0;
    width: 80px;
}

main section.page h2 {
    font-size: 34px;
}

main section.page p {
    font-size: 22px;
}

main section.page:nth-of-type(1) {
    background-image: url("../images/about/section1.png");
}

main section.page:nth-of-type(2) {
    background-image: url("../images/about/section2.png");
}

main section.page:nth-of-type(3) {
    background-image: url("../images/about/section3.png");
}

main section.page .join {
    text-align: left;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    main section {

    }

    main figure.banner .page-body .content {

    }

    main figure.banner .page-body .content h1 {
        font-size: 50px;
        font-weight: normal;
    }

    main figure.banner .page-body .content p {
        font-size: 28px;
        line-height: 40px;
    }

}

@media (min-width: 1200px) {

    main section {

    }

    main section.page {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {


}