/**
    招商页面样式
 */
main {

}

main section {

}

main figure.banner {

}

main section.page {
    background: no-repeat center;
    background-size: auto 100%;
    width: 100%;
    height: 100vw;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
}


section.page:nth-of-type(1),
section.page:nth-of-type(2) {
    opacity: 0.9;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

section.page:nth-of-type(1):hover,
section.page:nth-of-type(2):hover {
    opacity: 1;
    cursor: pointer;
}

main section.page hr {
    margin: 10px auto 0;
    width: 80px;
}

main section.page .join {
    text-align: left;
}

main section.page .join span {
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    background: #fff;
    color: #000;
    display: block;
    text-align: center;
}

main section.page:nth-of-type(3) {
    max-height: 800px;
    height: auto;
    margin-top: 30px;
    background: #222;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 80px 15px;
}
main section.page form {
    padding: 15px 0;
}

main section.page form .form-group {
    text-align: left;
}
main section.page form .form-group.btn-submit-area {
    text-align: right;
}

main section.page form .form-group label {
    font-weight: normal;
}

main section.page form .form-group .form-control {
    color: #fff;
    background: #333;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    main section {

    }

}

@media (min-width: 1200px) {

    main section {

    }

    main section.page {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {


}