/**
    招商页面样式
 */
main {

}

main section {

}

main figure.banner {
    width: 100%;
    height: 30vw;
    max-height: 500px;
    background: url("../images/investment/banner.png") no-repeat center;
    background-size: auto 100%;
}

main section.page {
    background: no-repeat center;
    background-size: auto 100%;
    width: 100%;
    height: 100vw;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

main section.page hr {
    margin: 10px auto 0;
    width: 80px;
}

main section.page:nth-of-type(1) {
    background-image: url("../images/about/section1.png");
}

main section.page:nth-of-type(2) {
    background-image: url("../images/about/section2.png");
}

main section.page .join {
    text-align: left;
}

main section.page .join span {
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    background: #fff;
    color: #000;
    display: block;
    text-align: center;
}

main section.page:nth-of-type(3) {
    max-height: 800px;
    height: auto;
}
main section.page form {
    padding: 15px 0;
}

main section.page form .form-group {
    text-align: left;
}
main section.page form .form-group.btn-submit-area {
    text-align: center;
}

main section.page form .form-group label {
    font-weight: normal;
}

main section.page form .form-group .form-control {
    color: #fff;
    background: #333;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    main section {

    }

}

@media (min-width: 1200px) {

    main section {

    }

    main section.page {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {


}