/**
    产品页面样式
 */
main {

}

main section {

}

main figure.banner {
    width: 100%;
    height: 100vw;
    max-height: 700px;
    background: no-repeat center;
    background-size: auto 100%;
}

main section.page {
    background: no-repeat center;
    background-size: auto 100%;
    width: 100%;
    height: 100vw;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

main section.page hr {
    margin: 10px auto 0;
    width: 80px;
}

main section.page:nth-last-of-type(1) {
    max-height: 800px;
    height: auto;
    margin-top: 30px;
    background: #222;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 80px 15px;
}

main section.page:nth-last-of-type(1) {
    opacity: 1;
}
main section.page:nth-last-of-type(1):hover {
    cursor: default;
}

main section.page form {
    padding: 15px 0;
}

main section.page form .form-group {
    text-align: left;
}
main section.page form .form-group.btn-submit-area {
    text-align: right;
}

main section.page form .form-group label {
    font-weight: normal;
}

main section.page form .form-group .form-control {
    color: #fff;
    background: #333;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    main section {

    }

}

@media (min-width: 1200px) {

    main section {

    }

    main figure.banner {
        height: 33vw;
        min-height: 30vw;
        max-height: 36vw;
        background-size: 100% 100%;
    }

    main section.page {
        max-width: 100vw;
        margin: 0 auto;
        height: 43vw;
        min-height: 40vw;
        max-height: 46vw;
        background-size: 100% 100%;
    }

    main section.page.joinus {
        max-width: 1200px;
        margin: 30px auto;
    }
}

@media (min-width: 1400px) {


}