/**
    设置header样式
 */
header {

}

nav {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

header nav.navbar {
    min-height: 55px;
    margin: 0;
    border: none;
    background-color: #000;
}

header nav.navbar.navbar-fixed-top {
    opacity: 0.8;
}

header nav.navbar-inverse .navbar-nav>li {
    padding: 0 15px;
}

header nav.navbar-inverse .navbar-nav>li>a {
    color: #eee;
    font-size: 16px;
}

header nav.navbar-inverse .navbar-nav>li>a:hover {
    color: #f6d96d;
}

header nav.navbar-inverse .navbar-nav>li>a:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #f6d96d;
    opacity: 0;
    width: 0;
    left: 0;
    -webkit-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
    -o-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
    transition: all 300ms cubic-bezier(.455,.03,.515,.955);
}

header nav.navbar-inverse .navbar-nav>li>a.active:after,
header nav.navbar-inverse .navbar-nav>li>a:hover:after {
    left: 0;
    opacity: 1;
    width: 100%;
}

header nav.navbar-inverse .navbar-toggle {
    margin: 11px 15px 10px;
}

header nav .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

header nav .container-fluid .navbar-collapse {
    position: absolute;
    z-index: 99;
    width: 100%;
    background: rgb(0, 0, 0);
}

header nav .container-fluid .navbar-header {

}

header nav .container-fluid .navbar-header .navbar-brand {
    width: 130px;
    height: 55px;
    padding: 10px 15px;
}

header nav .container-fluid .navbar-header .navbar-brand figure {
    width: 100%;
    height: 100%;
    background: url("../../images/logo.png") no-repeat left;
    background-size: contain;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    header nav .container-fluid .navbar-collapse {
        position: inherit;
    }

    header nav .container-fluid .navbar-header .navbar-brand figure {
        background-position: center;
    }

    header nav.navbar {
        min-height: 90px;
    }

    header nav .container-fluid .navbar-collapse ul.navbar-right {
        height: 90px;
        line-height: 90px;
    }

    header nav .container-fluid .navbar-collapse ul.navbar-right li a {
        padding: 35px 15px;
    }

    header nav .container-fluid .navbar-header .navbar-brand {
        height: 90px;
    }

    header nav.navbar-inverse .navbar-nav>li {
        padding: 0 0 0 15px;
    }

    header nav.navbar-inverse .navbar-nav>li>a:after {
        left: 50%;
        height: 2px;
    }

}

@media (min-width: 1000px) {

    header nav .container-fluid .navbar-collapse ul {
        width: 45%;
        display: flex;
        justify-content: space-between;
    }

}

@media (min-width: 1400px) {


}
